---
import i18next, { t, changeLanguage } from "i18next";
import Link from "@/components/Link.astro";
import Main from "@/layouts/main.astro";

changeLanguage("pt-BR");
---
<Main
	content={{
		title: t("Page not Found")
	}}
>
  <div class="flex flex-col gap-y-4 items-center justify-center h-remaining-screen">
    <h1 class="text-3xl lg:text-5xl text-neutral-700 dark:text-neutral-200 text-center">
      <span class="block mb-2">
        404
      </span>
      <span class="block">
        {t("Page not Found")}
      </span>
    </h1>
    <Link 
      href="/"
      class="text-center text-lg lg:text-xl text-primary-600 dark:text-primary-400 transition-all duration-200 hover:text-neutral-50 hover:dark:text-primary-200"
    >
      <i class="ph ph-house text-4xl"></i>
      <br>
      {t("Return to home")}
    </Link>
  </div>
</Main>