---
import Link from "@/components/Link.astro";
import i18next, { t } from "i18next";

---

<footer
  class="py-4 border-t-2 border-neutral-600 flex items-center z-50"
>
  <div class="container">
    <div class="flex flex-col lg:flex-row justify-between items-center gap-y-4">
      <Link
        href="/#hero" 
        class="flex gap-x-4 items-center font-logo text-neutral-700 dark:text-neutral-300 flex-1"
      >
        <p class="text-4xl">
          GSC
        </p>
        <div class="font-sans">
          <p>
            Web | Mobile
          </p>
          <p class="text-center text-xs">
            &lt; Developer &gt;
          </p>
        </div>
      </Link>
  
      <nav>
        <ul class="flex flex-wrap items-center justify-center gap-x-8 gap-y-2 2xl:gap-x-12 text-neutral-800 dark:text-neutral-300">
          <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
            <Link href="/#about">
              {t("About me")}
            </Link>
          </li>
          <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
            <Link href="/#experience">
              {t("Experience")}
            </Link>
          </li>
          <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
            <Link href="/#projects">
              {t("Projects")}
            </Link>
          </li>
          <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
            <Link href="/#services">
              {t("Services")}
            </Link>
          </li>
          <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
            <Link href="/#contact">
              {t("Contact")}
            </Link>
          </li>
        </ul>
      </nav>
  
      <div class="flex justify-end gap-x-2 text-3xl flex-1">
        <a 
          href="https://www.linkedin.com/in/gabriel-souza-costa-8443481bb/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-neutral-900 dark:text-neutral-300 transition-all duration-200 hover:text-primary-600 hover:dark:text-primary-400"
        >
          <i class="ph ph-linkedin-logo"></i>
          <span class="sr-only">
            Linkedin
          </span>
        </a>
        <a 
          href="https://github.com/GabrielSouzaCosta"
          target="_blank"
          rel="noopener noreferrer"
          class="text-neutral-900 dark:text-neutral-300 transition-all duration-200 hover:text-primary-600 hover:dark:text-primary-400"
        >
          <i class="ph ph-github-logo"></i>
          <span class="sr-only">
            Github
          </span>
        </a>
        <!-- <a 
          href="https://www.instagram.com/webdev_gabriel/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-neutral-900 dark:text-neutral-300 transition-all duration-200 hover:text-primary-600 hover:dark:text-primary-400"
        >
          <i class="ph ph-instagram-logo"></i>
          <span class="sr-only">
            Instagram
          </span>
        </a> -->
        <a 
          href={i18next.language === "en" ? "https://1drv.ms/b/s!AviSJU2yuZBLtDzRxuRYIDUdae_J?e=SVENuh" : "https://1drv.ms/b/s!AviSJU2yuZBLtD3VN8UvCSqwNebz?e=eUtAq1"}
          target="_blank"
          rel="noopener noreferrer"
          id="cv"
          class="text-neutral-900 dark:text-neutral-300 transition-all duration-200 hover:text-primary-600 hover:dark:text-primary-400"
        >
          <i class="ph ph-file-text"></i>
          <span class="sr-only">
            CV
          </span>
        </a>
      </div>
    </div>

    <hr class="my-4 border-neutral-600">

    <p class="flex items-center justify-center lg:justify-start gap-x-2 text-sm text-neutral-600 dark:text-neutral-300">
      <i class="ph ph-copyright text-lg"></i>
      2023 {t("All rights reserved")}
    </p>
  </div>
</footer>

<script is:inline src="https://unpkg.com/@popperjs/core@2"></script>
<script is:inline src="https://unpkg.com/tippy.js@6"></script>
<script is:inline>

  tippy('#cv', {
    content: 'CV',
  });
  tippy('.ph-instagram-logo', {
    content: 'Instagram',
  });
  tippy('.ph-linkedin-logo', {
    content: 'Linkedin',
  });
  tippy('.ph-github-logo', {
    content: 'Github',
  });
</script>