---
import '@fontsource/fjalla-one';
import '@fontsource/righteous';
import '../styles/global.css'
import Navbar from './navbar.astro';
import Footer from './footer.astro';
import i18next from 'i18next';

const { content } = Astro.props;
---

<html 
	class="scroll-smooth"
  lang={i18next.language}
>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{content.title}</title>
    <meta name="description" content="Front End Developer passionate about crafting beautiful, user-friendly, and accessible applications. Let's create great experiences together.">
		<script is:inline src="https://unpkg.com/@phosphor-icons/web"></script>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#6d936a">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script async>
      const language = navigator.language;
      const visited = sessionStorage.getItem("visited");

      if (language === "pt-BR" && !visited) {
        sessionStorage.setItem("visited", "true");
        window.location.href = "/pt-BR";
      }
    </script>
	</head>
	<body class="bg-neutral-100 dark:bg-neutral-900 transition-colors duration-700 caret-primary overflow-x-hidden flex flex-col min-h-screen">
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <Navbar />
        <div class="flex-1">
          <slot />
        </div>
        <Footer />
      </div>
    </div>
	</body>

  
</html>