---
import Sidebar from "@/components/Sidebar.tsx";
import ThemeToggle from "../components/ThemeToggle.astro";
import LanguageSwitcher from '../components/LanguageSwitcher.tsx'
import i18next, { t } from "i18next";
import Link from "@/components/Link.astro";
import { LanguageSelector } from "astro-i18next/components";
---

<header
  class="h-14 border-b-2 border-neutral-600 flex items-center sticky top-0 bg-white/10 dark:bg-neutral-950/10 backdrop-blur-sm z-50"
>
  <div class="container flex justify-between items-center">
    <Link 
      href="/#hero" 
      class="flex gap-x-4 items-center text-neutral-700 dark:text-neutral-300"
    >
      <p class="text-4xl font-logo">
        G<span>SC</span>
      </p>
      <div>
        <p>
          Web | Mobile
        </p>
        <p class="text-center text-xs">
          &lt; Developer &gt;
        </p>
      </div>
    </Link>

    <nav class="flex items-center gap-x-4 lg:gap-x-8">
      <ul class="hidden lg:flex items-center gap-x-8 2xl:gap-x-12 text-neutral-800 dark:text-neutral-300">
        <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
          <Link href="/#about">
            {t("About me")}
          </Link>
        </li>
        <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
          <Link href="/#experience">
            {t("Experience")}
          </Link>
        </li>
        <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
          <Link href="/#projects">
            {t("Projects")}
          </Link>
        </li>
        <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
          <Link href="/#services">
            {t("Services")}
          </Link>
        </li>
        <li class="transition-colors hover:text-primary-600 hover:dark:text-primary-400">
          <Link href="/#contact">
            {t("Contact")}
          </Link>
        </li>
      </ul>
      <div class="flex gap-x-4 items-center">
        <div class="hidden lg:flex gap-x-2">
          <!-- <LanguageSwitcher 
            client:only="react"
          /> -->
          <div class="relative text-neutral-700 dark:text-neutral-300">
            <i class='absolute top-1/2 transform -translate-y-1/2 left-0 ph ph-translate text-2xl'></i>
            <LanguageSelector
              languageMapping={{ en: "EN", "pt-BR": "PT-BR" }}
              id="language-selector"
              class="appearance-none bg-transparent border-0 font-medium flex h-10 w-full items-center gap-x-2 rounded-md py-1 pl-8 pr-5 text-sm ring-offset-white placeholder:text-neutral-500 focus:outline-none focus:ring-2 focus:ring-neutral-950 focus:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:ring-offset-neutral-950 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-300"
            />
            <i class='absolute top-1/2 transform -translate-y-1/2 right-0 ph ph-caret-down text-md dark:text-neutral-300 text-neutral-600'></i>
          </div>
        </div>
        <div>
          <ThemeToggle />
        </div>
      </div>
      <div class="flex lg:hidden">
        <Sidebar client:load/>
      </div>
    </nav>

  </div>
</header>

<style>
  select option {
    padding: 10px;
  }

</style>

<script>
  import gsap from 'gsap';
	import { TextPlugin } from 'gsap/TextPlugin';

	gsap.registerPlugin(
		TextPlugin,
	) 

  let logoAnimation = gsap.to('.font-logo > span', {
    text: 'abriel',
    duration: 0.5,
  }).pause();

  document.querySelector('.font-logo')
    ?.addEventListener('mouseenter', function() {
      logoAnimation.play(0);
    })

  document.querySelector('.font-logo')
    ?.addEventListener('mouseleave', function() {
      logoAnimation.reverse();
    })
</script>